.rating {
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    color: #d8d5d5;
    .list {
        list-style: none;
        margin: 0;
        padding: 0;
        &:hover {
            .star {
                color: #fcd93a;
            }
        }
        .star {
            display: inline-block;
            font-size: 40px;
            cursor: pointer;
            &:hover {
                ~ .star:not(.active) {
                    color: inherit;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &.active {
                color: #fcd93a;
            }

        }
    }
    .counter {
        font-size: 40px;
        margin-top: 30px;
        display: block;
        .divider {
            font-size: 30px;
            margin: 0 5px;
        }
        .score-max {
            vertical-align: sub;
            font-size: 30px;
        }
    }
}




